<h2>My Items</h2>
<ul class="items">
  <li *ngFor="let item of items"
    [class.selected]="item === selectedItem"
    (click)="onSelect(item)">
    <span class="badge">{{item.id}}</span> {{item.name}}
  </li>
</ul>

<div *ngIf="selectedItem">

  <h2>{{selectedItem.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedItem.id}}</div>
  <div><span>price: </span>{{selectedItem.price}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedItem.name" placeholder="name"/>
    </label>
  </div>

</div>